<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-size:18px;">دسته‌بندی‌ها:</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <!-- Dropdown -->
        {% for cat in category %}
        {% if cat.parent == None %}
        <li class="nav-item dropdown ">
          <a class="nav-link {%if cat.children.active %} dropdown-toggle {% endif %}" href="{% url 'resaneh:resaneh' cat.slug %}" id="navbarDropdownMenuLinkRight-{{cat.title}}" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
            {{cat.title}}
          </a>

          {%if cat.children.active %}
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkRigh-{{cat.title}}t">
            {% for cat in cat.children.active %}

            <li>
              <a class="dropdown-item" href="{% url 'resaneh:resaneh' cat.slug %}"> {{cat.title}} {% if cat.children.active %} &raquo;{% endif %} </a>

              {%if cat.children.active %}
              {% include 'resaneh/partials/category_loop.html' %}
              {% endif %}
              {% endfor %}
            </li>

          </ul>
          {% endif %}
        </li>


        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
