{% extends 'home/main.html' %}

{% load static %}

{%block title%}|درباره‌ی ما
{% endblock %}

{% block content %}

<!-- ============================================-->
<!-- <blog heading> begin ============================-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "home/images/prod-5.jpg" %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-3"><span class="mr-2"><a href="index.html">خانه <i class="fa fa-chevron-left"></i></a></span> <span>درباره‌ی ما<i class="fa fa-chevron-left"></i></span></p>
        <h2 class="mb-0 bread">درباره‌ی ما</h2>
      </div>
    </div>
  </div>
</section>
<!-- <blog heading> close ============================-->
<!-- ============================================-->

<section class="ftco-intro">
  <div class="container">
    <div class="row no-gutters text-right">
      <div class="col-md-4 d-flex">
        <div class="intro d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-support"></span>
          </div>
          <div class="text">
            <h2>پشتیبانی ۲۴ ساعته</h2>
            <p>همکاران ما در هر ساعت از شبانه‌روز پاسخگوی سوالات شما هستند.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-1 d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-cashback"></span>
          </div>
          <div class="text">
            <h2>تعهد مالی</h2>
            <p>تیم ما در هر شرابطی به تعهدات مالی خود پایبند خواهد‌بود.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-2 d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-free-delivery"></span>
          </div>
          <div class="text">
            <h2>حمل و نقل رایگان</h2>
            <p>نصب و حمل و نقل بنرها کاملا رایگان خواهدبود.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url('{% static "home/images/about1.png"%}');">
      </div>
      <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
        <div class="heading-section text-right ">
          <span class="subheading ">هدف ما</span>
          <h2 class="mb-4">تولید متن تصادفی</h2>

          <p class="text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
          <p class="text-justify">کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
          <p class="year">
            <span>تعداد رسانه‌ها تا این لحظه‌</span>
            <strong class="number" data-number="120">0</strong>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">رسانه‌دارها</span>
        <h2>برترین رسانه‌دارها</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-1.jpg" %}');"></div>
          <h3>آب‌میوه</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-2.jpg" %}');"></div>
          <h3>سلامتی</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-3.jpg" %}');"></div>
          <h3>پرتقال</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-4.jpg" %}');"></div>
          <h3>سالم</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-5.jpg" %}');"></div>
          <h3>طبیعی</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-6.jpg" %}');"></div>
          <h3>خوشمزه</h3>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="ftco-section testimony-section img" style="background-image: url('{% static "home/images/bg_4.jpg" %}'); direction:ltr;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">نظرات کاربران</span>
        <h2 class="mb-3">آخرین نظرات</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_1.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_2.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_3.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_1.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_2.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="3000">0</strong>
            <span>تعداد مشتریان ما</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="115">0</strong>
            <span>سالهای تجربه</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="100">0</strong>
            <span>تنوع محصولات ما</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="40">0</strong>
            <span>تعداد شعب ما</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
