{% extends 'home/main.html' %}

{% load static %}

{%block title%}|درباره‌ی ما
{% endblock %}

{% block content %}

<!-- ============================================-->
<!-- <blog heading> begin ============================-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "home/images/about_us.jpg" %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center align-items-mobile-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-3"><span class="mr-2"><a href="index.html">خانه <i class="fa fa-chevron-left"></i></a></span> <span>درباره‌ی ما<i class="fa fa-chevron-left"></i></span></p>
        <h2 class="mb-0 bread">درباره‌ی ما</h2>
      </div>
    </div>
  </div>
</section>
<!-- <blog heading> close ============================-->
<!-- ============================================-->

<section class="ftco-intro">
  <div class="container">
    <div class="row no-gutters text-right" style="display:none;">
      <div class="col-md-4 d-flex">
        <div class="intro d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-support"></span>
          </div>
          <div class="text">
            <h2>پشتیبانی ۲۴ ساعته</h2>
            <p>همکاران ما در هر ساعت از شبانه‌روز پاسخگوی سوالات شما هستند.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-1 d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-cashback"></span>
          </div>
          <div class="text">
            <h2>تعهد مالی</h2>
            <p>تیم ما در هر شرابطی به تعهدات مالی خود پایبند خواهد‌بود.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-2 d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-free-delivery"></span>
          </div>
          <div class="text">
            <h2>حمل و نقل رایگان</h2>
            <p>نصب و حمل و نقل بنرها کاملا رایگان خواهدبود.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center shadow p-3 mb-5 bg-body rounded" style="background-image: url('{% static "home/images/about3.png"%}');">
      </div>
      
      <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
        <div class="heading-section text-right ">
          <span class="subheading ">درباره‌ما</span>
          <h2 class="mb-4">آی‌رسانه</h2>

          <p class="text-justify">
            آی‌رسانه زیرساخت مستقلی است که با هدف انتخاب رسانه به صورت هدفمند و معرفی انواع رسانه‌های محیطی به عموم متقاضیان در جهت تسهیل ارتباط بین رسانه‌داران و متقاضیان رسانه ایجاد گردیده‌است.
          </p>
          <p class="text-justify">
            متقاضیان رسانه می‌توانند با استفاده از امکانات آی‌رسانه بهترین رسانه برای معرفی کسب و کار خود را شناسایی نمایند و با مقایسه‌ی رسانه‌ها بهترین انتخاب رسانه با کمترین بودجه را داشته باشند.
          </p>
          <p class="text-justify">
            رسانه‌داران در آی‌رسانه می‌توانند رسانه‌های خود را به انبوه متقاضیانی که به آی‌رسانه مراجعه می‌کنند معرفی نمایند و بدین صورت قسمت زیادی از هزینه‌های بازاریابی و فروش رسانه‌ها به صورت خودکار در آی‌رسانه انجام می‌گردد.
          </p>
          <p class="text-justify">
            همچنین مکان‌هایی که به صورت بالقوه دارای فضای مناسب برای تبلیغات محیطی می‌باشند با کمک آی‌رسانه شناسایی شده و بسترهای لازم برای انجام تبلیغات محیطی فراهم می‌گردد و سپس این رسانه‌ها به کسب و کارهایی که نیاز به انجام تبلیغات محیطی با اهداف
            تعیین شده دارند معرفی می‌گردند.
          </p>
          <!-- <p class="year">
            <span>تعداد رسانه‌ها تا این لحظه‌</span>
            <strong class="number" data-number="120">0</strong>
          </p> -->
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">

      <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
        <div class="heading-section text-right ">
          <!-- <span class="subheading ">درباره‌ما</span> -->
          <h2 class="mb-4">آي‌رسانه " كاوشگر هوشمند رسانه" است.</h2>

          <!-- <p class="h5">رسانه‌داران</p> -->
          <p class="text-justify">
            در آي‌رسانه افراد صاحب رسانه (فضاي مناسب براي تبليغ سايرين)، رسانه‌هاي خود را معرفي و در معرض ديد مخاطبان سايت قرار مي‌دهند.
          </p>
          <!-- <p class="h5">متقاضیان رسانه</p> -->
          <p class="text-justify">
            افرادي كه صاحب كسب و كار هستند و نياز به انجام تبليغات براي معرفي محصول و برند خود دارند، مي‌توانند براساس شهر / استان ، موقعيت قرارگيري رسانه (پمپ بنزين/ ايستگاه مترو و ...) ، نوع رسانه (ويديو وال/بيلبورد...) و سایر فیلترهای موجود جستجو
            انجام دهند تا بتوانند بصورت هدفمند بهترین رسانه و کمپین تبلیغاتی خود را انتخاب نمایند.
          </p>


          <!-- <p class="year">
            <span>تعداد رسانه‌ها تا این لحظه‌</span>
            <strong class="number" data-number="120">0</strong>
          </p> -->
        </div>

      </div>
      <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center shadow p-3 mb-5 bg-body rounded" style="background-image: url('{% static "home/images/about2.png"%}');">
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center shadow p-3 mb-5 bg-body rounded" style="background-image: url('{% static "home/images/about1.png"%}');">
      </div>
      <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
        <div class="heading-section text-right ">
          <!-- <span class="subheading ">درباره‌ما</span> -->
          <h2 class="mb-4">فقط کافیست دقایقی را با ما باشید...</h2>

          <p class="text-justify">
            آي‌رسانه با کمک مشاوران و متخصصان حوزه‌ی تبلیغات، تبليغات محيطي را مقياس پذير مي‌كند تا كسب و كارهاي نوپا و دارای بودجه‌ی محدود بتوانند در معرفي محصولات و برند خود از تبليغات محيطي مناسب استفاده نمایند و خود را به مخاطبان هدف خود معرفی
            نمایند.
          </p>
          <p class="text-justify">
            در آی‌رسانه ما معتقدیم که هر مکانی می‌تواند برای بخشی از کسب و کارها بهترین انتخاب برای معرفی و انجام تبلیغات باشد و به این دلیل شما می‌توانید با عرضه محل‌هاي مناسبي كه براي تبليغات سايرين در اختيار داريد كسب و درآمد كنيد يا از محل اين
            درآمد‌ها، با كمترين هزينه، تبليغات هدفمند و اثر بخشی را در ساير رسانه‌ها انجام دهید.
          </p>

          <!-- <p class="year">
            <span>تعداد رسانه‌ها تا این لحظه‌</span>
            <strong class="number" data-number="120">0</strong>
          </p> -->
        </div>

      </div>
    </div>
  </div>
</section>
<br>
<br>
<section class="ftco-section ftco-no-pb" style="display:none;">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">رسانه‌دارها</span>
        <h2>برترین رسانه‌دارها</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-1.jpg" %}');"></div>
          <h3>آب‌میوه</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-2.jpg" %}');"></div>
          <h3>سلامتی</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-3.jpg" %}');"></div>
          <h3>پرتقال</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-4.jpg" %}');"></div>
          <h3>سالم</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-5.jpg" %}');"></div>
          <h3>طبیعی</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-6.jpg" %}');"></div>
          <h3>خوشمزه</h3>
        </div>
      </div>

    </div>
  </div>
</section>

<section style="display:none;" class="ftco-section testimony-section img" style="background-image: url('{% static "home/images/bg_4.jpg" %}'); direction:ltr;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">نظرات کاربران</span>
        <h2 class="mb-3">آخرین نظرات</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_1.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_2.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_3.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_1.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_2.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section style="display:none;" class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="3000">0</strong>
            <span>تعداد مشتریان ما</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="115">0</strong>
            <span>سالهای تجربه</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="100">0</strong>
            <span>تنوع محصولات ما</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="40">0</strong>
            <span>تعداد شعب ما</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
