{% extends 'home/main.html' %}

{% load static %}

{%block title%}|درباره‌ی ما
{% endblock %}

{% block content %}

<!-- ============================================-->
<!-- <blog heading> begin ============================-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "home/images/prod-5.jpg" %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-3"><span class="mr-2"><a href="index.html">خانه <i class="fa fa-chevron-left"></i></a></span> <span>درباره‌ی ما<i class="fa fa-chevron-left"></i></span></p>
        <h2 class="mb-0 bread">درباره‌ی ما</h2>
      </div>
    </div>
  </div>
</section>
<!-- <blog heading> close ============================-->
<!-- ============================================-->

<section class="ftco-intro">
  <div class="container">
    <div class="row no-gutters text-right" style="display:none;">
      <div class="col-md-4 d-flex">
        <div class="intro d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-support"></span>
          </div>
          <div class="text">
            <h2>پشتیبانی ۲۴ ساعته</h2>
            <p>همکاران ما در هر ساعت از شبانه‌روز پاسخگوی سوالات شما هستند.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-1 d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-cashback"></span>
          </div>
          <div class="text">
            <h2>تعهد مالی</h2>
            <p>تیم ما در هر شرابطی به تعهدات مالی خود پایبند خواهد‌بود.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-2 d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-free-delivery"></span>
          </div>
          <div class="text">
            <h2>حمل و نقل رایگان</h2>
            <p>نصب و حمل و نقل بنرها کاملا رایگان خواهدبود.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url('{% static "home/images/about1.png"%}');">
      </div>
      <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
        <div class="heading-section text-right ">
          <span class="subheading ">درباره‌ما</span>
          <h2 class="mb-4">آی‌رسانه</h2>

          <p class="text-justify">
            آی رسانه زیر ساختی است مستقل با رسالت ساختار انتخاب رسانه با کمترین بودجه توسط متقاظیان رسانه به طور مستقیم از رسانه‌داران و ارتباط مستقیم اشخاص حقیقی یا حقوقی رسانه‌دار با تمام شرکت‌ها، بنگاه‌های اقتصادی یا کسب و کارهای کوچک و بزرگ جهت
            تسهیل در امور بازاریابی رسانه‌ها روش خرید و فروش رسانه.
          </p>
          <p class="text-justify">
            آی‌رسانه اهرمی است جهت تنظیم بازار رسانه‌دار و رسانه‌خواه، کاهش نیروی انسانی و همچنین توسعه گزارش‌گیری و آنالیز رسانه‌ای.
          </p>
          <!-- <p class="year">
            <span>تعداد رسانه‌ها تا این لحظه‌</span>
            <strong class="number" data-number="120">0</strong>
          </p> -->
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">

      <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
        <div class="heading-section text-right ">
          <!-- <span class="subheading ">درباره‌ما</span> -->
          <h2 class="mb-4">مخاطبان ما</h2>

          <p class="h5">رسانه‌داران</p>
          <p class="text-justify">
            رسانه‌های شما خود نیاز به بازاریابی و تبلیغ برای معرفی به هزاران کسب و کار کوچک و بزرگ در سراسر ایران دارد. آی‌رسانه به عنوان جامع‌ترین منبع رسانه‌ای کشور، رسانه‌ای اثربخش با کمترین هزینه و نیروی انسانی جهت معرفی رسانه‌های شما می‌باشد.
          </p>
          <p class="h5">متقاضیان رسانه</p>
          <p class="text-justify">
            نیمی از پولی را که صرف تبلیغات کردم به هدر رفته است و مشکل در این است که من نمی دانم کدام بخش از پول به هدر رفته است؟!
            <br>
            &nbsp; - بهترین رسانه یا رویداد یا روش بازاریابی که بتوانم خودم را به مخاطبم برسانم کدام است؟
            <br>
            &nbsp; - مخاطبان من در کجا قرار دارند؟
            <br>
            &nbsp; - از طریق کدام رسانه‌ها می توانم با کمترین هزینه با آنها ارتباط بگیرم؟
            <br>
            &nbsp; - اصالا چه گزینه‌هایی روی میز دارم؟
            <br>
            آی رسانه منجی جامع از رسانهها و متدهای بازاریابی و تبلیغاتی میباشد که با مقایسه و ارزیابی آنها میتوانید با بودجهای محدود بهترین انتخابها را داشته باشید.

          </p>


          <!-- <p class="year">
            <span>تعداد رسانه‌ها تا این لحظه‌</span>
            <strong class="number" data-number="120">0</strong>
          </p> -->
        </div>

      </div>
      <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url('{% static "home/images/about1.png"%}');">
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center" style="background-image: url('{% static "home/images/about1.png"%}');">
      </div>
      <div class="col-md-6 wrap-about pl-md-5 ftco-animate py-5">
        <div class="heading-section text-right ">
          <!-- <span class="subheading ">درباره‌ما</span> -->
          <h2 class="mb-4">فقط کافیست دقایقی را با ما باشید...</h2>

          <p class="text-justify">
            ما چه کمکی به رسانه داران می کنیم؟ آی رسانه رسانه های شما را در معرض هزاران کسب و
  کار کوچک و بزرگ در سراسر ایران قرار می دهد و این قابلیت را برای آنها فراهم می کند تا
  رسانه خود را به صورت موقعیت محور، مخاطب محور و ... انتخاب نمایند. شما با ثبت رسانه خود
  در حقیقت با کمترین هزینه آن را به سراسر ایران معرفی می کنید.
          </p>
          <p class="text-justify">
            ما چه کمکی به تقاضیان رسانه می کنیم؟ آی رسانه جامع ترین )پرتال( در ایران برای آنالیز و
  خرید رسانه می باشد. آی رسانه به شما کمک می کند که رسانه خود را سریعاً در هر نقطه از
  ایران و شهر مورد نظرتان انتخاب کنید.
          </p>
          <p class="text-justify">
            متقاضیان رسانه:
            <br>
ما با ارائه تنوع وسیعی از رسانه ها در تمام نقاط مورد نظرتان امکان مقایسه کیفی و کمی رسانهها
را برای شما فراهم نموده ایم. آی رسانه با اتصال مستقیم شما کاربر گرامی به رسانه داران، به
عملیات مشاوره و انتخاب رسانه بدون هزینه سرعت بخشیده و هزینه اجرای عملیات بازاریابی و
تبلیغات کسب و کار شما را به کمترین مقدار ممکن رسانده است.
            </p>
          <!-- <p class="year">
            <span>تعداد رسانه‌ها تا این لحظه‌</span>
            <strong class="number" data-number="120">0</strong>
          </p> -->
        </div>

      </div>
    </div>
  </div>
</section>
<br>
<br>
<section class="ftco-section ftco-no-pb" style="display:none;">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">رسانه‌دارها</span>
        <h2>برترین رسانه‌دارها</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-1.jpg" %}');"></div>
          <h3>آب‌میوه</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-2.jpg" %}');"></div>
          <h3>سلامتی</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-3.jpg" %}');"></div>
          <h3>پرتقال</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-4.jpg" %}');"></div>
          <h3>سالم</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-5.jpg" %}');"></div>
          <h3>طبیعی</h3>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 ">
        <div class="sort w-100 text-center ftco-animate">
          <div class="img" style="background-image: url('{% static "home/images/kind-6.jpg" %}');"></div>
          <h3>خوشمزه</h3>
        </div>
      </div>

    </div>
  </div>
</section>

<section style="display:none;" class="ftco-section testimony-section img" style="background-image: url('{% static "home/images/bg_4.jpg" %}'); direction:ltr;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">نظرات کاربران</span>
        <h2 class="mb-3">آخرین نظرات</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_1.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_2.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_3.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_1.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_2.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section style="display:none;" class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="3000">0</strong>
            <span>تعداد مشتریان ما</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="115">0</strong>
            <span>سالهای تجربه</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="100">0</strong>
            <span>تنوع محصولات ما</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="40">0</strong>
            <span>تعداد شعب ما</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
