{% extends 'home/main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{%block title%}|درباره‌ی ما
{% endblock %}

{% block content %}

<!-- ============================================-->
<!-- <blog heading> begin ============================-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "home/images/contact.jpg" %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-3"><span class="mr-2"><a href="index.html">خانه <i class="fa fa-chevron-left"></i></a></span> <span> تماس با ما <i class="fa fa-chevron-left"> </i> </span></p>
        <h2 class="mb-0 bread">تماس با ما </h2>
      </div>
    </div>
  </div>
</section>
<!-- <blog heading> close ============================-->
<!-- ============================================-->

<section class="ftco-section bg-light" >
  {% if messages %}
  {% for message in messages %}
  <div class="text-right alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
  {% endfor %}
  {% endif %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="wrapper px-md-4">
          <div class="row mb-5">
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-map-marker"></span>
                </div>
                <div class="text">
                  <p><span>
                    آدرس ما:
                  </span>
                   تهران، میدان ونک، خیابان ملاصدرا، پلاک 163 واحد 3
                 </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-phone"></span>
                </div>
                <div class="text">
                  <p><span>
                    شماره تلفن:
                  </span> <a href="tel://982191302626">
                    ۰۲۱-۹۱۳۰۲۶۲۶
                  </a>
                </p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-paper-plane"></span>
                </div>
                <div class="text">
                  <p><span>ایمیل:</span> <a href="mailto:info@irasane.com">info@irasane.com</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="dbox w-100 text-center">
                <div class="icon d-flex align-items-center justify-content-center">
                  <span class="fa fa-globe"></span>
                </div>
                <div class="text">
                  <p><span>وبسایت</span> <a href="{% url 'home:homepage' %}">irasane.com</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-md-7">
              <div class="contact-wrap w-100 p-md-5 p-4">
                <h3 class="mb-4 text-right">با ما در ارتباط باشید.</h3>
                <form  method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row text-right" >
                    <div class="col-12">
                      {{ form.title|as_crispy_field }}
                    </div>
                    <div class="col-6">
                      {{ form.firstname|as_crispy_field }}
                    </div>
                    <div class="col-6">
                      {{ form.lastname|as_crispy_field }}
                    </div>
                    <div class="col-6">
                      {{ form.role|as_crispy_field }}
                    </div>
                    <div class="col-6">
                      {{ form.mphone|as_crispy_field }}
                    </div>
                    <div class="col-12">
                      {{ form.description|as_crispy_field }}
                    </div>

                  </div>
                  <button name="contact" class="btn btn-success">ارسال</button>
                </form>
              </div>
            </div>
            <div class="col-md-5 order-md-first d-flex align-items-stretch">
            <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d4851.165444346445!2d51.39728154929267!3d35.756591906252666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x3f8e06e5639ae531%3A0xef20bbe6fb55e828!2sMolla%20Sadra%20St%2C%20Tehran%20Province%2C%20Tehran%2C%20Iran!3m2!1d35.7567024!2d51.399171599999995!5e0!3m2!1sen!2s!4v1651222907520!5m2!1sen!2s" width="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
