{% extends 'home/main.html' %}

{% load static %}

{%block title%}|پرسش‌های
{% endblock %}

{% block content %}

<!-- ============================================-->
<!-- <blog heading> begin ============================-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "home/images/question.jpg" %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-3"><span class="mr-2"><a href="index.html">خانه <i class="fa fa-chevron-left"></i></a></span> <span>پرسش‌های متداول<i class="fa fa-chevron-left"></i></span></p>
        <h2 class="mb-0 bread">پرسش‌های متداول</h2>
      </div>
    </div>
  </div>
</section>
<!-- <blog heading> close ============================-->
<!-- ============================================-->

<section id="faq" style="text-align:right;" class="my-4 py-4">
  <div class="accordion">
    <div class="accordion-item">
      <div class="accordion-title">
        <h2 style="font-size:25px;">
          آی‌رسانه چه کمکی به کسب و کارها می کند؟
        </h2>
        <i class="bi bi-plus-circle add"></i>
        <i class="bi bi-dash-circle remove" style="display:none"></i>
      </div>
      <div class="accordion-content">
        <p class="lh-lg text-white text-justify">
          ما با ارائه تنوع وسیعی از رسانه‌ها در تمام نقاط مورد نظرتان امکان مقایسه کیفی و کمی رسانه‌ها را برای شما فراهم نموده‌ایم. آی‌رسانه با اتصال مستقیم کسب و کارها به رسانه‌داران، به عملیات مشاوره و انتخاب رسانه بدون هزینه سرعت بخشیده و هزینه
          اجرای عملیات بازاریابی و تبلیغات کسب و کار شما را به کمترین مقدار ممکن رسانده است.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-title">
        <h2 style="font-size:25px;">
          آی‌رسانه چه کمکی به رسانه‌داران می کند؟
        </h2>
        <i class="bi bi-plus-circle add"></i>
        <i class="bi bi-dash-circle remove" style="display:none"></i>

      </div>
      <div class="accordion-content">
        <p class="lh-lg text-white text-justify">
          آی‌رسانه رسانه‌های شما را در معرض هزاران کسب و کار کوچک و بزرگ در سراسر ایران قرار می‌دهد و این قابلیت را برای آن‌ها فراهم می‌کند تا رسانه خود را به صورت موقعیت محور، مخاطب محور و ... انتخاب نمایند. شما با ثبت رسانه خود در آی‌رسانه با
          کمترین هزینه آن را به سراسر ایران معرفی می‌کنید.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-title">
        <h2 style="font-size:25px;">
          شرکت‌های خارج از تهران که قصد تبلیغ در تهران یا شهرستان‌های دیگر را دارند چطور می‌توانند از سایت آی‌رسانه استفاده کنند؟
        </h2>
        <i class="bi bi-plus-circle add"></i>
        <i class="bi bi-dash-circle remove" style="display:none"></i>
      </div>
      <div class="accordion-content">
        <p class="lh-lg text-white text-justify">
          با ورود به سایت می‌توانند تمامی رسانه‌های موجود در تهران یا شهرهای دیگر را جهت تبلیغ برند خود انتخاب و مستقیماً با رسانه‌دار در ارتباط باشند.
          <br>
          به عنوان مثال شرکت x که کارخانه و دفتر مرکزی در بیرجند دارد و واحد تبلیغات در آن‌ها با مشکل روبرو می‌باشد به راحتی می‌توانند با ورود به سایت و انتخاب موقعیت و نوع رسانه اطلاعات کاملی از شرکت ارائه دهنده بدست آورد.

        </p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-title">
        <h2 style="font-size:25px;">
          کسانی که در استان‌ها یا شهر‌های مختلف رسانه دارند چطور می‌توانند با دفاتر مرکزی شرکت‌ها یا برندها در پایتخت یا شهرهای دیگر ارتباط برقرار کنند؟
        </h2>
        <i class="bi bi-plus-circle add"></i>
        <i class="bi bi-dash-circle remove" style="display:none"></i>
      </div>
      <div class="accordion-content">
        <p class="lh-lg text-white text-justify">
          رسانه‌دار با ثبت رسانه و طلاعات تماس خود در پلتفرم در اصل کالای خود را در ویترین، مقابل چشم مشتریان قرار می‌دهد و مشتریان با انتخاب موقعیت‌ها، مخاطب یا به طور کلی رسانه‌های مورد نظر به صورت مستقیم به اطلاعات تماس شخص حقیقی یا حقوقی مورد نظر
          دسترسی پیدا می‌کند و امکان ارتباط مستقیم فراهم می‌شود.
        </p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-title">
        <h2 style="font-size:25px;">
          من یک باشگاه ورزشی در منطقه سعادت آباد تهران دارم باشگاه من چه رسانه‌هایی می‌تواند داشته باشد و از چه طریقی با شرکت‌ها ارتباط برقرار کنم؟
        </h2>
        <i class="bi bi-plus-circle add"></i>
        <i class="bi bi-dash-circle remove" style="display:none"></i>
      </div>
      <div class="accordion-content">
        <p class="lh-lg text-white text-justify">
          باشگاه شما مکانی با تعداد مشخص مخاطب در ماه، گروه سنی، جنسیت و سطح درآمدی معلوم می باشد. شما با وارد کردن این اطلاعات به راحتی می‌توانید مکانی را جهت تبلیغات و معرفی بسیاری از کسب و کارهای بزرگ یا کسب و کارهای کوچک محلی فراهم کنید. شما
          همچنین می‌توانید با مشاورین ما تماس بگیرید و از مکان‌های مناسب جهت بهره‌برداری تبلیغاتی در باشگاه خود مطلع شوید.‍
        </p>
      </div>
    </div>

    <div class="accordion-item">
      <div class="accordion-title">
        <h2 style="font-size:25px;">
          من رستوران در منطقه سعادت آباد هستم چطور می‌توانم بهترین انتخاب رسانه‌ای را برای اهالی منطقه خودمان داشته باشم؟
        </h2>
        <i class="bi bi-plus-circle add"></i>
        <i class="bi bi-dash-circle remove" style="display:none"></i>
      </div>
      <div class="accordion-content">
        <p class="lh-lg text-white text-justify">
          شما با مشخص کردن محدوده جغرافیایی مورد نظر خود به راحتی می‌توانید از رسانه‌های درمعرض دید مخاطبان محلی خود اطلاع پیدا کنید و با آن‌ها به صورت مستقیم ارتباط برقرار کنید به عنوان مثال یکی از رسانه‌های مناسب برای شما انتخاب باشگاه ورزشی X در
          منطقه سعادت آباد می‌باشد که اهالی محدوده سعادت آباد به این باشگاه روجوع می‌کنند شما به راحتی می‌توانید با این رسانه دار ارتباط برقرار کنید و در مورد تبلیغ در رسانه‌های موجود بدون واسطه رایزنی کنید یا از مشاورین آی رسانه بخواهید در این راه
          شما را همراهی کنند.
        </p>
      </div>
    </div>


  </div>

</section>

{% endblock %}
