{% extends 'home/main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load ratings %}

{%block title%}
کاوشگر هوشمند رسانه
{% endblock %}

{% block modal %}

<div class="my-modal" style="">
  {% if not user.is_authenticated %}

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header text-center">
          <h4 class="modal-title text-center">با شما تماس می‌گیریم.</h4>
          <!-- <button type="button" class="amin btn-close" data-bs-dismiss="modal" style="margin:0px;"></button> -->
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row text-right">
              <div class="col-12">
                {{ form.title|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.firstname|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.lastname|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.role|as_crispy_field }}
              </div>
              <div class="col-6">
                {{ form.mphone|as_crispy_field }}
              </div>
              <div class="col-12">
                {{ form.description|as_crispy_field }}
              </div>

            </div>
            <button name="contact" class="btn btn-success">ارسال</button>
          </form>

          <div class="col-12 text-right">

          </div>
        </div>
        <button type='text' class="btn btn-primary">
          تماس با پشتیبانی:
          <a  href="tel://982191302592" class="text-white">
            {% include 'home/companyphone.html'%}
          </a>

        </button>



      </div>
    </div>
  </div>

  {% endif %}
</div>



{% endblock %}

{% block content %}

<!-- ============================================-->
<!-- <home heading> begin ============================-->
<div class="hero-wrap" id="hero-main" style="background-image: url('{% static "home/images/page1.jpg" %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center align-items-mobile">
      <div class="col-md-8 ftco-animate d-flex">
        <div class="text w-100 text-center">
          <h1 class="mb-4"><span>آی رسانه</span></h1>
          <h2 class="mb-4 text-white"><span style="font-size:3rem;">کاوشگر هوشمند رسانه</span></h2>
          <!-- <h1 class="mb-4">کاوشگر <span>هوشمند</span> رسانه <span></span></h1> -->
          <p>
            {% if not user.is_authenticated %}
            <a href="{% url 'account:login' %}" class="btn btn-white btn-outline-white py-2 px-4 mb-2">ورود/عضویت</a>
            {% endif %}
            <a href="{% url 'home:contact' %}" class="btn btn-primary py-2 px-4 mb-2">تماس با ما</a>
            <a href="{% url 'home:about' %}" class="btn btn-white btn-outline-white py-2 px-4 mb-2">درباره ما</a>
            <!-- <a href="{% url 'account:login' %}" class="btn btn-primary py-2 px-4 mb-2">ورود/عضویت</a> -->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <home heading> close ============================-->
<!-- ============================================-->


<!-- ============================================-->
<!-- <gray section> begin ============================-->
<section class="ftco-intro" style="display:None;">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 d-flex">
        <div class="intro d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-support"></span>
          </div>
          <div class="text">
            <h2>پشتیبانی آنلاین</h2>
            <p>همه روزه آماده‌ی پاسخگویی به سوالات شما هستیم. تخصصی‌ترین مشاوره را از ما بخواهید.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-1 d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-cashback"></span>
          </div>
          <div class="text">
            <h2>ضمانت قیمت</h2>
            <p>امکان مقایسه‌ی متنوع‌ترین و کامل‌ترین رسانه‌ها و انتخاب بهترین قیمت.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-2 d-lg-flex w-100 ftco-animate">
          <div class="icon">
            <span class="flaticon-shopping-bag"></span>

          </div>
          <div class="text">
            <h2>پکیج‌های شگفت‌انگیز</h2>
            <p>ارائه‌ی انواع پکیج‌های تبلیغاتی تخصصی با تنوع و بازدهی بالا.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <gray section> close ============================-->
<!-- ============================================-->


<!-- ============================================-->
<!-- <detail section> begin ============================-->
<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 img img-3 d-flex justify-content-center align-items-center shadow p-3 mb-5 bg-body rounded" style="background-image: url('{% static "home/images/about1.png" %}');">
      </div>
      <div class="col-md-6 wrap-about pl-5 ftco-animate pr-md-5">
        <div class="heading-section text-right ">
          <span class="subheading ">اهداف</span>
          <h2 class="mb-4">آی‌رسانه</h2>

          <p class="text-justify pr-3" style="font-size:18px;">
            <span class="h5">آی‌رسانه</span>
            "كاوشگر هوشمند رسانه" است.
          </p>
          <p class="text-justify pr-3" style="font-size:18px;">
            در آی‌رسانه افراد صاحب رسانه (فضای مناسب برای تبليغ سايرين)، رسانه‌هاي خود را معرفي و در معرض ديد مخاطبان سايت قرار مي‌دهند.
          </p>
          <p class="text-justify pr-3" style="font-size:18px;">
            افرادي كه صاحب كسب و كار هستند و نياز به انجام تبليغات براي معرفي محصول و برند خود دارند، مي‌توانند براساس شهر / استان، موقعيت قرار‌گيري رسانه (پمپ بنزين/ ايستگاه مترو)، نوع رسانه (ويديو وال/بيلبورد...)، مخاطب هدف (بيننده‌هاي رسانه) و
            بودجه‌ی مد نظر خود براي اجاره رسانه، جستجو انجام دهند تا به‌صورت هدفمند به بهترين رسانه براي تبليغ خود هدايت شوند.
          </p>
          <p class="year" style="display:none;">
            <span>تعداد رسانه‌ها تا این لحظه‌</span>
            <strong class="number" data-number="{{allresanehcount}}">0</strong>
          </p>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- <detail section> close ============================-->
<!-- ============================================-->


<!-- ============================================-->
<!-- <best rasanehdars section> begin ============================-->
<section class="ftco-section ftco-no-pb">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">رسانه‌ها</span>
        <h2>دسته‌بندی رسانه‌ها</h2>
      </div>
    </div>
    <div class="row d-flex justify-content-between">

      {% for category in categories %}
      <div class="col-lg-2 col-md-4 ">
        <a href="{% url 'resaneh:resaneh' category.slug %}">
          <div class="sort w-100 text-center ftco-animate">
            <div class="img" style="background-image: url('{{category.thumbnail.url}}"></div>
            <h3>{{category.title}}</h3>
          </div>
        </a>
      </div>
      {% endfor %}



    </div>
  </div>
</section>
<!-- <best rasanehdars section> close ============================-->
<!-- ============================================-->


<!-- ============================================-->
<!-- <last rasanehs section> begin ============================-->







<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">رسانه‌ها</span>
        <h2>آخرین رسانه‌ها</h2>
      </div>
    </div>

    <div class="shop-default shop-cards shop-tech">
      <div class="row">
        {% for resaneh in resanehs %}
        <div class="col-md-6 mb-4">
          <div class="block product no-border z-depth-2-top z-depth-2--hover ftco-animate">
            <div class="block-image">
              <a href="{% url 'resaneh:details' resaneh.slug %}">
                <img src="{{resaneh.resanehimage.first.image.url}}" class="img-center img d-flex align-items-center justify-content-center" style="height:auto;">
              </a>
              <!-- <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span> -->
            </div>
            <div class="block-body text-center">
              <h3 class="heading heading-5 strong-600 text-capitalize">
                <a href="{% url 'resaneh:details' resaneh.slug %}">
                  {{resaneh.name}}
                </a>
              </h3>
              <p class="product-description">
                {{resaneh.address}}
              </p>
              <p class="">
                {{resaneh.place}}
              </p>
              <span class="price text-danger">
                {% if resaneh.category.all %}
                {% for category in resaneh.category.all %}
                <span class="text-primary">
                  {{ category }}
                  {% if forloop.counter < resaneh.category.all.count %}
                  ،
                  {% endif %}
                </span>
                {% endfor %}
                {% endif %}</span>

              <div class="product-colors mt-2">
                <div class="">
                  {% ratings resaneh read_only=True template_name='star_ratings/widgetresaneh.html' %}
                </div>
              </div>
              <div class="row d-flex justify-content-center pt-2 px-3">
                <div class="tagcloud ">
                  <!-- <span class="text-right">
                    تگ‌ها:
                  </span> -->
                  {% if resaneh.tag.all %}
                  {% for tag in resaneh.tag.all|slice:":4"  %}
                  <a href="#" class="tag-cloud-link">{{tag}}</a>
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
              <div class="product-buttons mt-2">
                <div class="row align-items-center">
                  <!-- <div class="col-2">
                    <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                      <i class="fa fa-heart"></i>
                    </button>
                  </div>
                  <div class="col-2">
                    <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                      <i class="fa fa-share"></i>
                    </button>
                  </div> -->
                  <div class="col-12">
                    <a href="{% url 'resaneh:details' resaneh.slug %}">
                    <button type="button" class="btn btn-block btn-primary btn-circle btn-icon-left">
                      مشاهده جزییات
                    </button>
                  </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        {% endfor %}

      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-md-4">
        <a href="{% url 'resaneh:resaneh' %}" class="btn btn-primary d-block">مشاهده‌ی همه‌ی رسانه‌ها <span class="fa fa-long-arrow-left"></span></a>
      </div>
    </div>
  </div>
</section>
<!-- <last rasanehs section> close ============================-->
<!-- ============================================-->



<!-- ============================================-->
<!-- <comments section> begin ============================-->
<section class="ftco-section testimony-section img" style="background-image: url('{% static "home/images/bg_4.jpg" %}'); direction:ltr; display:None;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <span class="subheading">نظرات کاربران</span>
        <h2 class="mb-3">آخرین نظرات</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_1.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_2.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_3.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_1.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
              <div class="text">
                <p class="mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url('{% static "home/images/person_2.jpg" %}')"></div>
                  <div class="pl-3">
                    <p class="name">امین هاشمی</p>
                    <span class="position">توسعه دهنده</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <comments section> close ============================-->
<!-- ============================================-->


<!-- ============================================-->
<!-- <blog section> begin ============================-->
<section class="ftco-section" style="display:none;">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">وبلاگ</span>
        <h2>آخرین پست‌ها</h2>
      </div>
    </div>
    <div class="row d-flex text-right">
      {% for article in articles %}
      <div class="col-lg-6 d-flex align-items-stretch ftco-animate">
        <div class="blog-entry d-flex">

          <a href="{% url 'blog:single' article.slug %}" class="block-20 img" style="background-image: url('{{article.thumbnail.url}}');">
          </a>
          <div class="text p-4 bg-light">
            <div class="meta">
              <p><span class="fa fa-calendar"></span> {{article.jpublish}}</p>
            </div>
            <h3 class="heading mb-3 text-justify"><a href="{% url 'blog:single' article.slug %}">{{article.title}}</a></h3>
            <p class="text-justify">{{article.minidescription}}</p>
            <a href="{% url 'blog:single' article.slug %}" class="btn-custom">ادامه مطلب <span class="fa fa-long-arrow-left"></span></a>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <a href="{% url 'blog:blog' %}" class="btn btn-primary d-block">
          مشاهده‌ی همه‌ی پست‌ها
          <span class="fa fa-long-arrow-left"></span></a>
      </div>
    </div>
  </div>
</section>
<!-- <blog section> close ============================-->
<!-- ============================================-->

{% endblock %}


{% block scripts%}
<script type="text/javascript">
  $(window).on('load', function() {
    let key = localStorage.getItem('show')
    if (key == null) {
      $('#myModal').modal('show');
      localStorage.setItem('show', true)
    }
  });
</script>


{% endblock %}
