{% extends 'home/main.html' %}

{% load static %}

{%block title%}|قوانین و مقررات
{% endblock %}

{% block content %}

<!-- ============================================-->
<!-- <blog heading> begin ============================-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "home/images/about_us.jpg" %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center align-items-mobile-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-3"><span class="mr-2"><a href="index.html">خانه <i class="fa fa-chevron-left"></i></a></span> <span>قوانین و مقررات<i class="fa fa-chevron-left"></i></span></p>
        <h2 class="mb-0 bread">قوانین و مقررات</h2>
      </div>
    </div>
  </div>
</section>
<!-- <blog heading> close ============================-->
<!-- ============================================-->

<section id="terms" style="text-align:right;" class="my-4 py-4">
<div class="container">
<h3>قوانین و مقررات آی‌رسانه</h3>
  <p class="text-justify">
    &nbsp &nbsp
    <span><strong><a href="/">آی‌رسانه</a></strong></span>
    به حریم خصوصی کاربران خود احترام می‌گذارد. این خط‌مشی رازداری نحوه جمع‌آوری، استفاده، افشای و محافظت از اطلاعات شما را هنگام بازدید از سایت یا برنامه تلفن همراه توضیح می‌دهد. لطفا این سیاست حفظ حریم خصوصی را به دقت بخوانید. اگر با شرایط این سیاست حفظ حریم خصوصی موافق نیستید، لطفاً به برنامه دسترسی ندهید.
  </p>
  <p class="text-justify">
    ما حق ایجاد تغییرات در این سیاست حفظ حریم خصوصی را در هر زمان و به هر دلیلی برای خود محفوظ می داریم. ما با به‌روزرسانی تاریخ «آخرین به‌روزرسانی» این خط‌مشی رازداری در مورد هرگونه تغییر به شما هشدار می‌دهیم. به شما توصیه می شود که به طور دوره ای این سیاست حفظ حریم خصوصی را مرور کنید تا از به روز رسانی ها مطلع شوید. با ادامه استفاده شما از برنامه پس از تاریخ پست شدن چنین خط مشی حفظ حریم خصوصی اصلاح شده، به نظر می رسد که شما از آن آگاه شده اید، مشمول آن می شوید، و تغییرات در هر خط مشی رازداری اصلاح شده را پذیرفته اید.
  </p>
  <p class="text-justify">
    این خط‌مشی رازداری برای فروشگاه آنلاین/موبایل شخص ثالثی که برنامه را از آنجا نصب می‌کنید یا پرداخت می‌کنید، از جمله موارد مجازی درون بازی که ممکن است داده‌های مربوط به شما را نیز جمع‌آوری و استفاده کنند، اعمال نمی‌شود. ما در قبال هیچ یک از داده های جمع آوری شده توسط چنین شخص ثالثی مسئولیتی نداریم.
  </p>
  <h4>مجموعه اطلاعات شما</h4>
  <p class="text-justify">
    &nbsp &nbsp
    ما ممکن است اطلاعات مربوط به شما را به طرق مختلف جمع آوری کنیم. اطلاعاتی که ممکن است از طریق برنامه جمع آوری کنیم به محتوا و خدماتی که استفاده می کنید بستگی دارد و شامل موارد زیر است:
  </p>
  <li>
    <strong>
      اطلاعات شخصی
    </strong>
    <p>
      اطلاعات دموگرافیک و سایر اطلاعات قابل شناسایی شخصی (مانند شما) که داوطلبانه هنگام انتخاب شرکت در فعالیت‌های مختلف مرتبط با برنامه، مانند چت، ارسال پیام در بخش نظرات ،امتیاز به رسانه ها، ارسال بازخورد، و پاسخ به نظرسنجی ها اگر تصمیم دارید داده‌های مربوط به خود را از طریق نمایه، چت آنلاین یا سایر بخش‌های تعاملی برنامه به اشتراک بگذارید، لطفاً توجه داشته باشید که همه داده‌هایی که در این بخش‌ها افشا می‌کنید عمومی هستند و داده‌های شما برای هر کسی که به برنامه دسترسی داشته باشد قابل دسترسی خواهد بود.
    </p>
  </li>

  <li>
    <strong>
      داده های مشتق
    </strong>
    <p>
    اطلاعاتی که سرورهای ما هنگام دسترسی به برنامه به طور خودکار جمع‌آوری می‌کنند، مانند اقدامات بومی شما که در برنامه یکپارچه هستند، از جمله امتیاز دادن، یا ثبت نظر، و همچنین سایر تعاملات با برنامه و سایر کاربران از طریق گزارش سرور
    </p>
  </li>

  <li>
    <strong>
      داده های مالی
    </strong>
    <p>
      اطلاعات مالی، مانند داده‌های مربوط به روش پرداخت شما که ممکن است هنگام خرید، سفارش، بازگرداندن، مبادله یا درخواست اطلاعات مربوط به خدمات ما از برنامه، جمع‌آوری کنیم.
    </p>
  </li>

  <li>
    <strong>
      اطلاعات موقعیت جغرافیایی
    </strong>
    <p>
      ما ممکن است برای ارائه خدمات مبتنی بر مکان درخواست دسترسی یا اجازه به اطلاعات مبتنی بر مکان و ردیابی آن را از دستگاه تلفن همراه شما، چه به طور مداوم و چه در حین استفاده از برنامه، درخواست کنیم. اگر می‌خواهید دسترسی یا مجوزهای ما را تغییر دهید، می‌توانید این کار را در تنظیمات دستگاه خود انجام دهید.
    </p>
  </li>

  <li>
    <strong>
      دسترسی به دستگاه تلفن همراه
    </strong>
    <p>
      ممکن است از دستگاه تلفن همراه شما به برخی از ویژگی‌ها، از جمله [تقویم، دوربین، مخاطبین، میکروفون، یادآورها، حسگرها، فضای ذخیره‌سازی] و سایر ویژگی‌های دستگاه همراه شما، درخواست دسترسی یا مجوز کنیم. اگر می‌خواهید دسترسی یا مجوزهای ما را تغییر دهید، می‌توانید این کار را در تنظیمات دستگاه خود انجام دهید.
    </p>
  </li>

  <li>
    <strong>
      داده های دستگاه تلفن همراه
    </strong>
    <p>
      اطلاعات دستگاه مانند شماره شناسه دستگاه همراه، مدل و سازنده، نسخه سیستم عامل، شماره تلفن، کشور، مکان و هر داده دیگری که انتخاب می کنید ارائه دهید.
    </p>
  </li>

  <li>
    <strong>
      Push Notifications
    </strong>
    <p>
      ممکن است از ما درخواست کنیم که اعلان‌هایی در مورد حساب یا برنامه شما ارسال کنیم. اگر می خواهید از دریافت این نوع ارتباطات انصراف دهید، می توانید آنها را در تنظیمات دستگاه خود خاموش کنید.
    </p>
  </li>

  <li>
    <strong>
      	داده های شخص ثالث
    </strong>
    <p>
      اطلاعات اشخاص ثالث، مانند اطلاعات شخصی یا دوستان ، اگر حساب خود را به شخص ثالث متصل کنید و به برنامه اجازه دسترسی به این اطلاعات را بدهید.
    </p>
  </li>

  <li>
    <strong>
      داده ها از مسابقات، هدایا و نظرسنجی ها
    </strong>
    <p>
      اطلاعات شخصی و سایر اطلاعاتی که ممکن است هنگام شرکت در مسابقات یا هدایا و/یا پاسخ دادن به نظرسنجی ها ارائه دهید.
    </p>
  </li>

  <h4>استفاده از اطلاعات شما</h4>
  <p class="text-justify">
    &nbsp &nbsp
    داشتن اطلاعات دقیق درباره شما به ما این امکان را می دهد تا تجربه ای روان، کارآمد و سفارشی را برای شما فراهم کنیم. به طور خاص، ما ممکن است از اطلاعات جمع آوری شده در مورد شما از طریق برنامه برای موارد زیر استفاده کنیم:
  </p>

  <ol>
    <li>
      گردآوری داده های آماری ناشناس و تجزیه و تحلیل برای استفاده داخلی یا با اشخاص ثالث.
    </li>

    <li>
      حساب کاربری خود را ایجاد و مدیریت کنید.
    </li>

    <li>
      تبلیغات هدفمند، کوپن ها، خبرنامه ها و سایر اطلاعات مربوط به تبلیغات و برنامه را به شما تحویل دهید.
    </li>

    <li>
      انجام و مدیریت خریدها، سفارش‌ها، پرداخت‌ها و سایر تراکنش‌های مربوط به برنامه.
    </li>

    <li>
      یک نمایه شخصی در مورد خود ایجاد کنید تا بازدیدهای بعدی از برنامه شخصی‌تر شود.
    </li>

    <li>
      افزایش کارایی و عملکرد برنامه.
    </li>

    <li>
      استفاده و روندها را برای بهبود تجربه خود با برنامه نظارت و تجزیه و تحلیل کنید.
    </li>

    <li>
      شما را از به روز رسانی های برنامه مطلع کنیم.
    </li>

    <li>
      محصولات، خدمات، برنامه های کاربردی تلفن همراه و/یا توصیه های جدید را به شما ارائه دهید.
    </li>

    <li>
      سایر فعالیت های تجاری را در صورت نیاز انجام دهید.
    </li>

    <li>
      جلوگیری از معاملات متقلبانه، نظارت در برابر سرقت، و محافظت در برابر فعالیت های مجرمانه.
    </li>

    <li>
      پرداخت و بازپرداخت را پردازش کنید.
    </li>

    <li>
      درخواست بازخورد و تماس با شما در مورد استفاده شما از برنامه.
    </li>

    <li>
      حل و فصل اختلافات و رفع مشکلات.
    </li>

    <li>
      به درخواست های محصول و خدمات مشتری پاسخ دهید.
    </li>

    <li>
      درخواست پشتیبانی برای برنامه.
    </li>

  </ol>

  <h4>افشای اطلاعات شما</h4>
  <li>
    <strong>
      طبق قانون یا برای حمایت از حقوق
    </strong>
  </li>
  <p class="text-justify">
    &nbsp &nbsp
    داشتن اطلاعات دقیق درباره شما به ما این امکان را می دهد تا تجربه ای روان، کارآمد و سفارشی را برای شما فراهم کنیم. به طور خاص، ما ممکن است از اطلاعات جمع آوری شده در مورد شما از طریق برنامه برای موارد زیر استفاده کنیم:
  </p>
</div>

</section>

{% endblock %}
