{% extends 'dashboard/base.html' %}

{% load static %}

{%block title%}|داشبورد من
{% endblock %}

{% block sidebar %}
{% include 'dashboard/sidebar.html' %}
{% endblock %}

{% block header %}
نمودار
{% endblock %}

{% block moreheader %}

{% endblock %}

{% block content %}
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- AREA CHART -->
        <div class="card card-info">
          <div class="card-header align-items-center">
            <div class="card-tools" style="float:left;">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
            </div>
            <h3 class="card-title mb-0" style="float:right;">نمودار آمار بازدیدها</h3>
          </div>
          <div class="card-body">
            <form class="" action="#" method="get" id="formId">

              <div class="row mb-4">
                <div class="col-md-9 col-lg-7 col-xl-6">
                  <div role="group" class="btn-group btnGroup_30Nuz oval_27GGv">
                    <button type="button" class="btn btn-light first_item margin-button" data-margin="today">
                      <!---->
                      امروز
                      <!---->
                    </button>
                    <button type="button" class="btn btn-light margin-button" data-margin="yesterday">
                      <!---->
                      دیروز
                      <!---->
                    </button>
                    <button type="button" class="btn btn-info margin-button" data-margin="7_days_ago">
                      <!---->
                      ۷ روز گذشته
                      <!---->
                    </button>
                    <button type="button" class="btn btn-light margin-button" data-margin="30_days_ago">
                      <!---->
                      ۳۰ روز گذشته
                      <!---->
                    </button>

                    <input type="text" name="margin" value="" id="margin" style="display:none;">

                    <button type="button" class="btn btn-light last_item" id="pick-date">
                      <!---->
                      انتخاب بازه
                      <!---->
                    </button>
                  </div>
                </div>
                <div class="mt-2 mt-xl-0 col-xl-6">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group mb-3" style="flex-wrap:inherit;">
                        <div class="input-group-append">
                          <span class="input-group-text first_item">از</span>
                        </div>
                          <input type="text" class="form-control last_item" name="start" id="date1"  autocomplete="off" disabled>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group mb-3" style="flex-wrap:inherit;">
                        <div class="input-group-append">
                          <span class="input-group-text first_item">تا</span>
                        </div>
                          <input type="text" class="form-control last_item" name="end" id="date2" autocomplete="off" disabled >
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="mt-2 mt-xl-0 col-xl-12">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group mb-3">
                        <div class="input-group-append">
                          <span class="input-group-text first_item">رسانه</span>
                        </div>
                        <select class="custom-select last_item" name="media">
                          <option value="">-------</option>
                          {% for resaneh in resanehs %}
                          <option value={{resaneh.id}}>{{resaneh.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group mb-3">
                        <div class="input-group-append">
                          <span class="input-group-text first_item">ویدیو</span>
                        </div>
                        <!-- <input type="text" class="form-control last_item"> -->
                        <select class="custom-select last_item" name="video">
                          <option value="">-------</option>
                          {% for video in videos %}
                          <option value={{video.id}}>{{video.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <input type="button" id="submitButton" value="مشاهده گزارش" class="btn btn-info btn-block">
                    </div>
                  </div>
                </div>
              </div>

            </form>
            <div class="" id="counterChart">
              <div class="chart" >
                {{chart|safe}}
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->


      </div>

      <!-- /.col (RIGHT) -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script type="text/javascript">
  $(".margin-button").click(function() {
    var els = document.getElementsByClassName("margin-button");
    if ($(this).hasClass("btn-light")) {
      for (var i = 0; i < els.length; i++) {
        els[i].classList.remove('btn-info');
        els[i].classList.add('btn-light');
      };
      $(this).removeClass("btn-light");
      $(this).addClass("btn-info");
      $('#pick-date').removeClass("btn-info");
      $('#pick-date').addClass("btn-light");
      $('#date1').prop('disabled', true);
      $('#date2').prop('disabled', true);
      $('#date1').val('');
      $('#date2').val('');
      // for(var i = 0; i < els.length; i++)
      // {
      //   // console.log(els[i]);
      //   if (els[i].classList.contains("btn-light")) {
      //       els[i].classList.remove('btn-light');
      //       // els[i].classList.remove('btn-info');}
      //       els[i].classList.add('btn-info');}
      //       // box1.classList.contains('active'); //true
      //       console.log("asdsd");
      //
      // }
    };
    var margin = $(this).data("margin");
    $('#margin').val(margin)

  });
  //   $( ".margin-button").each(function(index) {
  //     console.log(index);
  //     $(this).on("click", function(){
  //       if ($(this).hasClass("btn-light")) {
  //         $(this).removeClass('btn-light');
  //         $(this).addClass('btn-info');}
  //         // For the boolean value
  //         // var boolKey = $(this).data('selected');
  //         // For the mammal value
  //         // var mammalKey = $(this).attr('id');
  //     });
  // });

  // $( ".margin-button" ).click(function() {
  //   $('.margin-button').each(function(i){
  //         $(this).removeClass('btn-info');
  //   }
  //   if ($(this).hasClass("btn-light")) {
  //     $(this).removeClass('btn-light');
  //     $(this).addClass('btn-info');}
  // $('.margin-button').each(function(i){
  //       $(this).removeClass('btn-info');
  // }
  // console.log($(this));

  // });
  // $('.margin-button').each(function(){
  //       $(this).removeClass('btn-info');
  // var languages= $(this).addClass('btn-info');
  // console.log(languages);
  // });
</script>
<script>
  $("#submitButton").click(function(ev) {
  var form = $("#formId");
  var url = "{% url 'dashboard:ajax_load_counterChart' %}";
  // console.log(url);
  $.ajax({
      type: "GET",
      url: url,
      data: form.serialize(),
      success: function(data) {
          $("#counterChart").html(data);
          // Ajax call completed successfully
          // alert("Form Submited Successfully");

      },
      error: function(data) {

          // Some error in ajax call
          alert("اطلاعاتی مناسب با فیلترهای انتخاب شده وجود ندارد!");
      }
  });
  });

</script>

<link rel="stylesheet" href="{% static 'home/css/kamadatepicker.min.css' %}">
<script src="{% static 'home/js/kamadatepicker.min.js' %}"></script>
<script type="text/javascript">
  var customOptions = {
    placeholder: "روز-ماه-سال",
    twodigit: false,
    closeAfterSelect: true,
    nextButtonIcon: "/static/home/images/icons/timeir_next.png",
    previousButtonIcon: "/static/home/images/icons/timeir_prev.png",
    buttonsColor: "blue",
    forceFarsiDigits: true,
    markToday: true,
    markHolidays: true,
    highlightSelectedDay: true,
    sync: true,
    gotoToday: true
  }
  kamaDatepicker('date1', customOptions);
  kamaDatepicker('date2', customOptions);
</script>

<script type="text/javascript">
  $("#pick-date").click(function(ev) {
      var els = document.getElementsByClassName("margin-button");
      if ($(this).hasClass("btn-light")) {
        for (var i = 0; i < els.length; i++) {
          els[i].classList.remove('btn-info');
          els[i].classList.add('btn-light');
        };
        $(this).removeClass("btn-light");
        $(this).addClass("btn-info");
        $('#date1').prop('disabled', false);
        $('#date2').prop('disabled', false);
        $('#margin').val('')
        console.log("saaa");
      };


  });

</script>
{% endblock %}

{% block script %}

{% endblock %}
