{% extends 'dashboard/base.html' %}

{% load static %}

{%block title%}|داشبورد من
{% endblock %}

{% block sidebar %}
  {% include 'dashboard/sidebar.html' %}
{% endblock %}

{% block header %}
داشبورد
{% endblock %}

{% block content %}
{% if request.user.profile %}
<div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{cresanehs}}</h3>

                <p>تعداد رسانه‌ها</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="{% url 'dashboard:myofflineresaneh' %}" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{actives}}<sup style="font-size: 20px"></sup></h3>

                <p>تعداد رسانه‌های فعال</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          {% if request.user.profile.position == 'm' %}
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{cemployees}}</h3>

                <p>تعداد کارمندان</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="{% url 'dashboard:employee'%}" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          {% endif %}

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{hits}}</h3>

                <p>تعداد بازدید‌های کل رسانه‌ها</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
{% else %}
<div class="text-danger">
<h4>برای استفاده از امکانات سایت ابتدا باید حساب کاربری خود را تکمیل کنید!</h4>
<a href="{% url 'dashboard:profile' %}">تکمیل پروفایل</a>
</div>
{% endif %}
{% endblock %}
