{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{%block title%}|مشخصات من
{% endblock %}

{% block sidebar %}
{% include 'dashboard/sidebar.html' %}
{% endblock %}

{% block header %}
مشخصات من
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

<div class="col-md-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">مشخصات من</h3>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-6">
            {{ form1.firstname|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.lastname|as_crispy_field }}
          </div>
        {% if user.profile.is_completed %}
          <div class="col-6">
            <!-- {{ form1.company|as_crispy_field }} -->
            <div class="form-group">
              <label>
                شرکت
              </label>
              <div>
                <input type="text" class="textinput textInput form-control" value="{{user.profile.company.name}}" readonly>
              </div>
            </div>
          </div>
          {% endif %}
          <div class="col-6">
            {{ form1.role|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.sphone|as_crispy_field }}
          </div>
          <div class="col-6">
            <div class="form-group">
              <label>
                تلفن همراه
              </label>
              <div>
                <input type="text" name="mphone" class="textinput textInput form-control" value="{{user.phone}}" readonly>
              </div>
            </div>
          </div>
          <div class="col-6">
            {{ form1.pic|as_crispy_field }}
          </div>

        </div>
        <button name="profile" class="btn btn-success">ارسال</button>
      </form>
    </div>
  </div>
</div>


{% if request.user.profile.is_completed %}
  {% if user.profile.role == 'k' %}
  <div class="col-md-12">
    <div class="card card-danger">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left">درخواست رسانه‌دار شدن</h3>
      </div>
      <div class="card-body">
        {% if user.profile.status == False %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row text-bold">
            اگر می‌خواهید به عنوان رسانه‌دار فعالیت کنید، درخواست خود را ارسال نمایید.
          </div>
          <br>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-default">
            ارسال
          </button>

        </form>
        {% else %}
        <div class="row text-bold">
          درخواست شما در دست بررسی است.
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}



<div class="modal fade show" id="modal-default" style="display: ٔNone; padding-right: 17px;" aria-modal="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">درخواست رسانه‌دار شدن</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form mx-7">
          <h3 class="mb-3 my-7 text-center">قوانین آی‌رسانه</h3>
          <p class="fs-1 text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای
            متنوع با هدف
            بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی
            ایجامنبمینبمنیمبتمیتنمیبتنلتبینمتجحثصخهح خحثه خهخثصتسمنت بخحیستجصهخ یسختهد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و
            جوابگوی
            سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-check">
                  <form method="post" enctype="multipart/form-data" id="myform">
                    {% csrf_token %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" required>
                      <label class="form-check-label">قوانین بالا را مطالعه کرده و می‌پذیرم.</label>
                    </div>
                  </form>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-primary" data-dismiss="modal">انصراف</button>
        <button type="submit" name="req" class="btn btn-success" form="myform" >تایید</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->

</div>‍


{% endblock %}
