{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{%block title%}|لیست رویدادها
{% endblock %}

{% block sidebar %}
{% include 'dashboard/sidebarvod.html' %}
{% endblock %}

{% block header %}
لیست رویدادها
{% endblock %}

{% block content %}
<div class="row">
  <!-- modal -->
  <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">حذف</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default shadow" data-dismiss="modal">بستن</button>
          <a type="button" class="delbut btn btn-danger" value="" href="">حذف</a>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left pt-1">رویدادهای من</h3>

        <div class="card-tools mb-0 float-right">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="جستجو">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0 table-striped" style="height: 300px;">
        <table class="table table-head-fixed">
          <thead>
            <tr class="small">
              <th>کد</th>
              <th>نام</th>
              <th>آدرس</th>
              <th>وضعیت</th>
              <th>جزییات</th>
              <th>باکس</th>
              <th>رسانه‌ها</th>
              ‍‍‍<th>ساعت شروع</th>‍
              ‍‍‍<th>ساعت پایان</th>‍
              ‍‍‍<th>تاریخ شروع</th>‍
              ‍‍‍<th>تاریخ پایان</th>‍
              ‍‍‍<th>تاریخ ایجاد</th>‍
              ‍‍‍<th>ویرایش</th>‍
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
            <tr>
              <td>{{event.id}}</td>
              <td>{{event.name}}</td>
              <td>{{event.slug}}</td>
              <td>{{event.mstatus}}</td>
              <td>{{event.detail|safe}}</td>
              <td>{{event.media}}</td>
              <td>
                {% for resaneh in event.resaneh.all %}
                <a href="{% url 'resaneh:details' resaneh.slug %}">{{resaneh.name}}</a>,
                {% endfor %}
              </td>
              <td>{{event.startTime}}</td>
              <td>{{event.endTime}}</td>
              <td>{{event.jstartDate}}</td>
              <td>{{event.jendDate}}</td>
              <td>{{event.created}}</td>

              <td class="project-actions text-left">
                <!-- <a class="btn btn-primary btn-sm" href="#" id="">
                  <i class="fas fa-folder">
                  </i>
                  مشاهده
                </a> -->
                <a class="btn btn-info btn-sm" href="{% url 'dashboard:vodEventUpdate' event.id %}">
                  <i class="fas fa-pencil-alt">
                  </i>
                  ویرایش
                </a>
                <a class="del btn btn-danger btn-sm" data-toggle="modal" data-id="{{event.id}}" data-target="#modal-default" href="#">
                  <i class="fas fa-trash">
                  </i>
                  حذف
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>‍
<script type="text/javascript">
  $(document).on("click", ".del", function () {
       var delId = $(this).data('id');
       $('.delbut').attr('href', '/dashboard/vodEventDelete/'+delId);
       $('.modal-body').html(`آیا از حذف کد ${delId} مطمئن هستید؟`)
  });
</script>
{% endblock %}
