{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

{%block title%}|رسانه‌های دیجیتال
{% endblock %}

{% block sidebar %}
  {% include 'dashboard/sidebarvod.html' %}
{% endblock %}

{% block header %}
ویرایش رسانه‌
{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}


<div class="col-md-12">
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title mb-0 float-left">مشخصات رسانه</h3>
    </div>
    <div class="card-body">
      <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">

          <div class="col-6">
            {{ form1.company|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.place|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.owner|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.name|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.slug|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.country|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.state|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.city|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.zone|as_crispy_field }}
          </div>
          <div class="col-12">
            {{ form1.address|as_crispy_field }}
          </div>
          <div class="col-12">
            {{ form1.location|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.nvisit|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.price|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.detail|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.point|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.status|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.code|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.connectionID|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.publish|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.industry|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.tag|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.category|as_crispy_field }}
          </div>
                    <div class="col-6">
            {{ form1.tvModel|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.tvSize|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.androidVersion|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.operatorNumber|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.is_Androidbox|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form1.is_digital|as_crispy_field }}
          </div>

        </div>
        <button name="profile" class="btn btn-success">ارسال</button>
      </form>
    </div>
  </div>
</div>

<script type="application/javascript" src="/static/location_field/leaflet.js"></script>
<script type="application/javascript" src="/static/location_field/l.control.geosearch.js"></script>
<link rel="stylesheet" href="/static/location_field/leaflet.css" media="all">
<script type="application/javascript" src="/static/location_field/l.geosearch.provider.google.js"></script>
<script type="application/javascript" src="//maps.google.com/maps/api/js?key="></script>
{% endblock %}
